.suscribirse{
   background-color:#dc3545
   ; 
}
.navbar{
    margin-bottom: 2rem;
}
h6{
    display:inline-flex;
}
.img-fluid{
    padding-left: 2rem;
}
h1{
    padding-bottom: 2rem;
}

h4{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

h3{
    padding-bottom: 2rem;
  
}
.bottom{
    padding-bottom: 3rem;
}



